!!! 5
%html
  %head
    %title My First HAML Page
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width,initial-scale=1.0,shrink-to-fit=no"}
  %body
    %header#header
      %h1 My Page is Awesome! How About Some Markdown?
      .content
        :markdown
          ## Markdown is Sweet

          Try Markdown today.

          * one
          * two
          * three


